.login-div {
    width: 40% !important;
    margin-top: 10%;
}

@media only screen and (max-width: 480px) {
    .login-div {
        width: auto !important;
    }
}

body {
    background-color: #CDE0FD !important;
}

#email-input, #password-input {
    background: none;
    border-color: #1447FC;
    color: #1447FC;
    border-right: none;
}

.email-textbox, .password-textbox {
    border-left: none !important;
    border-radius: 0px 5px 5px 0px !important;
    background: none !important;
    border-color: #1447F0 !important;
    color: #1447FC !important;
}

.email-textbox::placeholder, .password-textbox::placeholder {
    color: #1447FC !important;
    opacity: 1;
}

.form-title {
    color: #1447FC;
}

.btn-submit {
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
}